<nav class="bottom-nav">
    <NavLink href="/profile" class="nav-item">Профиль</NavLink>
    <NavLink href="/" Match="NavLinkMatch.All" class="nav-item">Главная</NavLink>
    <NavLink href="/store" class="nav-item">Магазин</NavLink>
    <NavLink href="/workouts" class="nav-item">Тренировки</NavLink>
</nav>
